################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Crystal.Api/.vs/Crystal.Api.slnx
/Crystal.Api/obj
